includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - tests

    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 16
        minimumNumberOfJobsPerProcess: 2
        processTimeout: 300.0

    # The level 9 is the highest level
    level: 8

    ignoreErrors:
         - '#^Cannot access property \$id on App\\Models\\.*$#'
         - '#^Cannot access property \$name on App\\Models\\.*$#'
         - '#^Cannot access property \$is_super_admin on App\\Models\\.*$#'
         - '#^Access to an undefined property App\\Models\\.*$#'
         - '#Parameter \#1 \$value of function strval#'
         - '#Parameter \#1 \$value of function intval#'
         - '#Call to an undefined method App\\Models\\Folder\|Illuminate\\Database\\Eloquent\\Collection<int, App\\Models\\Folder>::replicateSubFoldersAndFiles\(\)#'
         - '#Call to an undefined method App\\Models\\EntityGroup\|Illuminate\\Database\\Eloquent\\Collection<int, App\\Models\\EntityGroup>::getAttributes\(\)#'
         - '#Call to an undefined method App\\Models\\EntityGroup\|Illuminate\\Database\\Eloquent\\Collection<int, App\\Models\\EntityGroup>::getEntityGroupDepartments\(\)#'
         - '#Call to an undefined method App\\Models\\Folder\|Illuminate\\Database\\Eloquent\\Collection<int, App\\Models\\Folder>::save\(\)#'
         - '#Call to an undefined method App\\Models\\EntityGroup\|Illuminate\\Database\\Eloquent\\Collection<int, App\\Models\\EntityGroup>::save\(\)#'
         - '#Call to an undefined method App\\Models\\Folder\|Illuminate\\Database\\Eloquent\\Collection<int, App\\Models\\Folder>::retrieveSubFoldersAndFilesForDownload\(\)#'
         - '#Call to an undefined method App\\Models\\EntityGroup\|Illuminate\\Database\\Eloquent\\Collection<int, App\\Models\\EntityGroup>::generateFileDataForEmbedding\(\)#'

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
